$base-color: #e94560;
$p-color: rgb(197, 197, 197);
$bg-color: #1a1a2e;

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.App {
    background-color: $bg-color;
    text-align: center;
}

.tag {
    color: $base-color;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    width: fit-content;

    >:first-child {
        margin-right: 40px;
    }
}

img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);

}

.column {
    float: left;
    transition: all .2s;

    .imageHolder {
        position: relative;
        >h4 {
            font-size: 25px;
            color: white;
            transition: opacity .2s;
            position: absolute;
            opacity: 0;
            font-family: monospace;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.80);
        }

        .name {
            
            font-size: 20px;
            color: white;
            transition: opacity .2s;
            position: absolute;
            // opacity: 0;
            font-family: monospace;
            // text-shadow: 1.5px 1.5px 0px rgba($base-color, 0.80);
            // width: 100%;
            // transition: all .2s;
            // font-family: monospace;
            // position: absolute;
            right: 10px;
            bottom: 10px;
            // top: -5px;
            // right: 5px;
            // width: 91%;
            z-index: 1;
            // width: fit-content;
            // height: fit-content;
            // color: white;
            box-shadow: 2px 2px 0px rgba($base-color, 0.80);
            background-color: rgba($bg-color, .8);
            backdrop-filter: blur(2px);
            // filter: grayscale();
            // backdrop-filter: blur(2px);
            // text-align: center;
            // text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.80);
        // box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.15);
            // margin: 10px 0 0 0;
            padding: 8px 10px 8px 10px;
            border-radius: 5px;
            // font-size: 15px;
            // opacity: 1;
            // text-align: left;
        }

        .portImage {
            transition: all .2s;
            width: 365px;
            height: 142px;
            border-radius: 5px;

            &#portEncrypt {
                background-image: url("https://img.namespace.media/images/2021/09/19/encrypt2.png");
            }

            &#portXP {
                background-image: url("https://img.namespace.media/images/2021/09/14/xp.png");
            }

            position: absolute;
            background-size: cover;
        }

        &:hover {
            .portImage {
                // -webkit-filter: blur(2px);
                // -moz-filter: blur(2px);
                // filter: blur(2px);
                opacity: .5;
                filter: sepia(.8);
            }
            .name {
                opacity: 0;
            }

            >h4 {
                opacity: 1;
            }

            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0);
        }

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
        width: 365px;
        height: 142px;
    }

}

.ContentWrapper {
    // background-color: #282c3475 !important;
    min-height: 100vh;
    // width: 1800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .Page {
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
        width: 855px;
        width: 45vw;
        text-align: left;

        +.Page {
            margin-top: 80px;
        }

        .Content {
            margin-top: 20px;
        }

        &.TopMargin {
            margin-top: 30px;
            margin-bottom: 50px;
        }

        .Title {
            h2 {
                font-weight: normal;
                color: white;
                font-size: 35.5px;
                margin: 0;
            }
        }

        p {
            line-height: 40px;
            color: $p-color;

            &.subtitle {
                opacity: 1.0;
            }

            &.FullText {
                text-align: justify;
            }

            margin: 0;
            font-size: 20px;
        }

        ul {
            line-height: 40px;
            list-style: none;

            li::before {
                content: "•";
                color: $base-color;
                display: inline-block;
                width: 1em;
                margin-left: -1em
            }

            color: $p-color;
            font-size: 20px;
        }
    }
}

a {
    text-decoration: none;

    &:hover .arrow {
        opacity: 1;
    }

    .arrow {
        color: rgb(255, 255, 255);
        opacity: 0;
        position: absolute;
        margin-left: -30px;
        margin-top: 7px;
        font-size: 30px;

        &.big {
            opacity: 1;
            font-size: 40px;
            margin-left: -45px;
            margin-top: 6px;

            &:hover {
                color: $base-color;
            }
        }
    }
}

.PageText {
    margin-top: 50px !important;

    h3,
    h4 {
        // color: vars(--main);
        line-height: 0;
        // margin-bottom: 30px;
        font-weight: normal;
    }

    h4 {
        margin: 20px 0 20px 0;
    }

    img {
        margin: 10px 0 10px 0;
    }

    .info {
        background-color: rgba(21, 21, 21, 0.50);
        border-radius: 5px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
        padding: 20px 25px 25px 25px;
    }
}